<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <header>
        <div class="navegacion-logo">
            <img class="logo" src="/images/logo-mercado-liebre.svg" alt="logo">
            <div class="busqueda-container"><input type="text" class="navegacion-texto" placeholder="Buscar productos, marcas"><i class="fas fa-search" id="lupa"></i></div>
            <div class="cuotas"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito</div>
        </div>
    <div class="barra">
        <div class="site">
            <div><a href="#">Ofertas</a></div>
            <div><a href="#">Tiendas Oficiales</a></div>
            <div><a href="#">Vender</a></div>
            <div><a href="#">Ayuda</a></div>
        </div>
        <div class="login-navbar">
            <div><a href="/registro">Creá tu cuenta</a><i class="fas fa-id-card"></i></div>
            <div><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></div>
            <div><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></div>
        </div>
    </div>
        <div class="menu-burguer"><i class="fas fa-bars"></i></div>
        <img class= "banner" src="/images/img-home-banner.jpg" alt="banner">
    </div>
    </header>
    <main>
        <h2>Basado en tu última visita</h2>
    <section class="productos">
            <article class="producto">
                <div class="imagen-container">
                    <img class="producto-imagen" src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
                </div>
                <div class="producto-detalles">
                    <div class="icono-envio"><i class="fas fa-truck"></i></div>
                    <div class="producto-precio">$6.770</div>
                    <div class="producto-descuento">40% OFF</div>
                </div>
                <div class="producto-descripcion">
                    <div class="producto-nombre">Cafetera Moulinex</div>
                </div>
            </article>
            <article class="producto">
                <div class="imagen-container">
                    <img class="producto-imagen" src="/images/img-macbook-pro-2019.jpg" alt="imagen de macbook">
                </div>
                <div class="producto-detalles">
                    <div class="icono-envio"><i class="fas fa-truck"></i></div>
                    <div class="producto-precio">$230.000</div>
                    <div class="producto-descuento">20% OFF</div>
                </div>
                <div class="producto-descripcion"></div>
                    <div class="producto-nombre">MacBook Pro 2019</div>
                </div>
            </article>
            <article class="producto">
                <div class="imagen-container">
                    <img class="producto-imagen" src="/images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy">
                </div>
                    <div class="producto-detalles">
                    <div class="icono-envio"><i class="fas fa-truck"></i></div>
                    <div class="producto-precio">$70.500</div>
                    <div class="producto-descuento">10% OFF</div>
                </div>
                <div class="producto-descripcion">
                    <div class="producto-nombre">Samsung Galaxy S10</div>
                </div>
            </article>
            <article class="producto">
                <div class="imagen-container">
                    <img class="producto-imagen" src="/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv">
                </div>
                <div class="producto-detalles">
                    <div class="icono-envio"><i class="fas fa-truck"></i></div>
                    <div class="producto-precio">$23.200</div>
                    <div class="producto-descuento">5% OFF</div>
                </div>
                <div class="producto-descripcion">
                    <div class="producto-nombre">SmartTv Samsung 43"</div>
                </div>
            </article>
    </section>
        <h2>Seccion de Ofertas</h2>
        <section class="productos">
            <article class="producto">
                <div class="imagen-container">
                    <img class="producto-imagen" src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
                </div>
                <div class="producto-detalles">
                        <div class="icono-envio"><i class="fas fa-truck"></i></div>
                        <div class="producto-precio">$6.770</div>
                        <div class="producto-descuento">40% OFF</div>
                    </div>
                    <div class="producto-descripcion">
                        <div class="producto-nombre">Cafetera Moulinex</div>
                    </div>
            </article>
            <article class="producto">
                <div class="imagen-container">
                <img class="producto-imagen" src="/images/img-macbook-pro-2019.jpg" alt="imagen de macbook">
                </div>
                <div class="producto-detalles">
                    <div class="icono-envio"><i class="fas fa-truck"></i></div>
                    <div class="producto-precio">$230.000</div>
                    <div class="producto-descuento">20% OFF</div>
                </div>
                <div class="producto-descripcion">
                    <div class="producto-nombre">MacBook Pro 2019</div>
                </div>
            </article>
            <article class="producto">
                <div class="imagen-container">
                    <img class="producto-imagen" src="/images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy">
                </div>
                <div class="producto-detalles">
                    <div class="icono-envio"><i class="fas fa-truck"></i></div>
                    <div class="producto-precio">$70.500</div>
                    <div class="producto-descuento">10% OFF</div>
                </div>
                <div class="producto-descripcion">
                    <div class="producto-nombre">Samsung Galaxy S10</div>
                </div>
            </article>
            <article class="producto">
                <div class="imagen-container">
                    <img class="producto-imagen" src="/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv">
                </div>
                <div class="producto-detalles">
                    <div class="icono-envio"><i class="fas fa-truck"></i></div>
                    <div class="producto-precio">$23.200</div>
                    <div class="producto-descuento">5% OFF</div>
                </div>
                <div class="producto-descripcion">
                    <div class="producto-nombre">SmartTv Samsung 43"</div>
                </div>
            </article>
        </section>
    </main>

    <footer>
        <section class="footer-seccion">
            <div class="footer-iconos"><i class="fas fa-credit-card"></i></div>
                <h3 class="footer-texto">Pagá con tarjeta o en efectivo</h3>
                <p class="footer-parrafo">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section class="footer-seccion">
            <div class="footer-iconos"><i class="fas fa-gift"></i></div>
                <h3 class="footer-texto">Envío gratis desde $ 2.500</h3>
                <p class="footer-parrafo">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section class="footer-seccion">
            <div class="footer-iconos"><i class="fas fa-user-shield"></i></div>
                <h3 class="footer-texto">Seguridad, de principio a fin</h3>
                <p class="footer-parrafo">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
        </section>
    </footer>
    <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</body>
</html>