*{
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #ebebeb;
}
a{
    text-decoration: none;
}
h2{
    font-size: 24px;
    text-align: center;
    margin: 20px 0px;
}
p{
    font-size: 12px;
}
main{
    width: 90%;
    text-align: left;
    margin: auto;
}
.logo{
    display: block;
    width: 50%;
}
header{
    background-color: #EAC926;
}
header a{
    color: black;
    text-decoration: none;
}
.navegacion-logo{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.busqueda-container{
    display: flex;
    width: 45%;
    justify-content: center;
    padding: 0px 20px;
}
.navegacion-texto{
    color: #666;
    background-color: #ebebeb;
    width: 100%;
    padding: 10px;
    text-align: center;
    height: auto;
    border-radius: 5px;
    align-self: center;
}
#lupa{
    display: flex;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    border: #666 1px solid;
    align-self: center;
    position: relative;
    left: 5px;
}
.cuotas{
    margin: auto;
}
.barra{
    width: 100%;
    display: none;
    justify-content: space-between;
}
.site{
    display: flex;
    width: 50%;
    max-width: 680px;
    flex-direction: row;
    align-self: start;
    justify-content: space-around;
    padding: 20px;
}
.login-navbar{
    display: flex;
    width: 50%;
    max-width: 510px;
    align-self: self-end;
    flex-direction: row;
    padding: 20px;
    justify-content: space-around;
}
.menu-burguer{
    display: flex;
    justify-content: center;
    color: white;
    background-color: #1259c3;
    padding: 10px;
    margin: auto;
    width: 30px;
    border-radius: 5px;
    margin: 20px auto;
}
.formulario{
    display: flex;
    flex-direction: column;
}
.formulario-seccion{
    display: flex;
    width: 100%;
    max-width: 700px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}
.titulo{
    width: 100%;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}
.opciones-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.opcion{
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: space-around;
    background-color: white;
    margin: 10px 0px;
    border-radius: 5px;
    border: solid #666 1px;
}
.opcion-icon{
    width: 20px;
}
input{
    border-radius: 5px;
    padding: 5px 10px;
    width: 100%;
}
.botones{
    display: flex;
    justify-content: space-around;
}
.boton{
    display: flex;
    background-color: #1259c3;
    width: 25vw;
    max-width: 660px;
    justify-content: center;
    color: white;
    height: 40px;
    border-radius: 5px;
    align-items: center;
}
#boton-enviar-login{
    width: 25vw;
    display: flex;
    justify-content: center;
}

.footer-seccion{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
}
.footer-texto{
    margin: 1%;
}
.footer-parrafo{
    color: #666;
    margin: 1%;
}
.copyright{
    display: flex;
    color: #666;
    align-self: flex-start;
    padding: 10px;
}
.footer-iconos{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media(min-width: 768px){
    .barra{
        display: flex;
    }
    .menu-burguer{
        display: none;
    }
    .cuotas,.logo,.busqueda-container{
        width: 32vw;
    }
}